<div class="container">
    <h2>{{mayusculas "Contacto"}}</h2>
    <form action="/contact" method="POST">
        <label>Nombre:</label>
        <input type="text" name="nombre" required placeholder="Escribe tu nombre...">
        
        <label>Mensaje:</label>
        <textarea name="mensaje" rows="4" placeholder="¿En qué podemos ayudarte?"></textarea>
        
        <button type="submit">Enviar Mensaje</button>
    </form>
</div>